build/
torch_vulkan_logs/

.vscode/
.vs/
.ccls-cache/
.clangd/
.cache/
compile_commands.json
CMakeSettings.json

*.spv
imgui.ini

code_coverage.info
code_coverage_report/

todo_list.md
notes_to_self.md
